{% extends "layout.html" %}
{% block title %}Asignar Permisos{% endblock %}
{% block content %}
<h2>Asignar Permisos a Roles</h2>
<form id="asignarForm" class="row g-3 mb-3">
  <div class="col-md-5">
    <select id="rolSelect" class="form-select" required>
      <option value="">Seleccione un rol</option>
    </select>
  </div>
  <div class="col-md-5">
    <select id="permisoSelect" class="form-select" required>
      <option value="">Seleccione un permiso</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success w-100" type="submit">Asignar</button>
  </div>
</form>
<div id="resultado" class="text-success"></div>
<script src="/static/js/asignar_permisos.js"></script>
{% endblock %}