{% extends "layout.html" %}
{% block title %}Dashboards{% endblock %}
{% block content %}
<h2>Dashboards</h2>
<p>Bienvenido al panel de visualización de datos.</p>

<div class="d-flex justify-content-center">
  <iframe 
    title="Calculo Disponibilidad Mintic - copia" 
    class="w-100" 
    style="max-width: 1224px; height: 1260px;" 
    src="https://app.powerbi.com/view?r=eyJrIjoiYTEwODlkZWMtN2NmOC00ZDhkLWE5MTMtMDExOThmZjc4OGNmIiwidCI6ImZjMDA1NDdhLTI0YmItNGU0Zi05ZDYxLTczZmNhNWViOWRmMyIsImMiOjR9" 
    frameborder="0" 
    allowFullScreen="true">
  </iframe>
</div>


{% endblock %}