{% extends "layout.html" %}
{% block title %}Permisos{% endblock %}
{% block content %}
<h2>Permisos</h2>
<form id="permisoForm" class="row g-3">
  <div class="col-md-5"><input type="text" id="nombrePermiso" class="form-control" placeholder="Nombre del Permiso" required /></div>
  <div class="col-md-5"><input type="text" id="descripcionPermiso" class="form-control" placeholder="Descripción" /></div>
  <div class="col-md-2"><button type="submit" class="btn btn-success w-100">Crear</button></div>
</form>
<ul id="listaPermisos" class="list-group mt-3"></ul>
<script src="/static/js/permisos.js"></script>
{% endblock %}