{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h2>Página Principal</h2>
<p class="text-muted">Bienvenido al sistema AdminAnalytics. Aquí encontrarás información general y resúmenes del sistema.</p>

<div class="d-flex justify-content-center">
  <iframe 
    title="Calculo Disponibilidad Mintic - copia" 
    class="w-100" 
    style="max-width: 1224px; height: 1260px;" 
    src="https://app.powerbi.com/view?r=eyJrIjoiYTEwODlkZWMtN2NmOC00ZDhkLWE5MTMtMDExOThmZjc4OGNmIiwidCI6ImZjMDA1NDdhLTI0YmItNGU0Zi05ZDYxLTczZmNhNWViOWRmMyIsImMiOjR9" 
    frameborder="0" 
    allowFullScreen="true">
  </iframe>
</div>
  </div>
  <div class="col-md-6">
   
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('graficaUsuarios');
  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Administradores', 'Analistas', 'Invitados'],
      datasets: [{
        label: 'Distribución por Rol',
        data: [2, 3, 5],  // Datos simulados
        backgroundColor: ['#0d6efd', '#198754', '#ffc107'],
      }]
    }
  });
</script>
{% endblock %}